body{
    display: flex;
    align-items: start;
    justify-content: start;
}

aside{
    width: 20%;
    height: 100vh;
    min-width: 220px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;
    background-color: var(--sidebar-bg);

    padding: 1rem;
    gap: 0.5rem;

    .avatar{
        width: 148px;
        height: 148px;
        border-radius: 50%;
        background: var(--white);
        border: 3px solid var(--gray-200);

        display: flex;
        align-items: center;
        justify-content: center;

        margin-bottom: 10%;

        img{
            width: 100%;
            height: 100%;
            aspect-ratio: 1/1;

            display: none;
        }
        
        i{
            font-size: 52px;
            color: var(--gray-200);
        }
    }

    a{
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;

        border: 0;
        border-radius: 8px;
        color: var(--gray-600);
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0);
        
        padding: 0.5rem;
        
        cursor: pointer;

        svg{
            stroke: var(--gray-600);
        }
    }
    
    a:hover{
        background-color: var(--gray-100);
    }

    .settings{
        margin-top: 10%;
    }

    .signOut{
        color: white;
        background-color: var(--purple-dark);
        
        svg{
            stroke: white;
        }
    }
    
    .signOut:hover{
        background-color: crimson;
    }
}

main{
    width: 80%;

    padding: 2rem 3rem;

    .table{
        color: var(--gray-600);

        margin-top: 1rem;

        .headRow, .row{
            width: 100%;

            display: flex;
            align-items: start;
            justify-content: start;

            border-bottom: 1px solid black;
            padding: 1rem 0.8rem;

            .id{
                width: 5%;
            }

            .topic{
                width: 35%;
            }

            .date{
                width: 25%;
            }

            .teacher{
                width: 35%;
            }
        }

        .row:hover{
            background-color: whitesmoke;
        }

        .headRow{
            color: white;
            font-weight: bold;

            border-radius: 10px 10px 0 0;
            background-color: var(--purple-dark);
        }
    }
}