<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>

    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/index.css">
</head>
<body>
    <main>
        <h1>Title</h1>

        <div class="table">
            <div class="headRow row">
                <span class="id">#</span>
                <span class="topic">Tema</span>
                <span class="date">Fecha</span>
                <span class="teacher">Asesor</span>
            </div>

            <div class="row">
                <span class="id"></span>
                <span class="topic"></span>
                <span class="date"></span>
                <span class="teacher"></span>
            </div>
            
            <div class="row">
                <span class="id"></span>
                <span class="topic"></span>
                <span class="date"></span>
                <span class="teacher"></span>
            </div>

            <div class="row">
                <span class="id"></span>
                <span class="topic"></span>
                <span class="date"></span>
                <span class="teacher"></span>
            </div>

            <div class="row">
                <span class="id"></span>
                <span class="topic"></span>
                <span class="date"></span>
                <span class="teacher"></span>
            </div>
            
            <div class="row">
                <span class="id"></span>
                <span class="topic"></span>
                <span class="date"></span>
                <span class="teacher"></span>
            </div>
        </div>
    </main>

    <aside>
        <img src="" alt="profile icon">

        <span>Principal</span>
        <span>Solicitar Asesorías</span>
        <span>Actividad</span>

        <span>Configuración</span>
        <span>Cerrar Sesión</span>
    </aside>
</body>
</html>